.urgent-message{
    background-color: $state-danger-bg;
    border: 1px solid $state-danger-border;
    color: $state-danger-text;
    display: none;
    margin-top: -27px;
    margin-bottom: 1em;
    padding: 1em;
}