@import "partials/mixins";
@import "partials/variables";

.centered{
    display: table;
    margin: 0 auto;
}

.icpa-box{
    padding: 0.5em 0;
}

.no-top{
    margin-top: 0;
}

.profile-person{
    border: 1px solid #CCC;
    border-bottom: 0px;
    @include gradient-vertical(#EEE, #FFF);
    background-color: rgba(255,255,255, 0.3);
    padding: 1em 0 1em 0;
}

.img-profile{
    border: 3px solid #FFF;
}

.dashboard-stuff{
    padding-top: 0.5em;
    border: 1px solid #ccc;
}

.icpa-progress{
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    .icpa-shade{
        @include gradient-vertical(lighten($ICPA-blue, 10%), $ICPA-blue);
}
}

.friends{
    
}

.img-friends{
    height: 33%;
    margin-bottom: 3px;
    width: 20%;
}



.contact-details{
    span{
        margin-right: 1.5em;
}
}

.inline{
    display: inline-block;
}




.progress-cutoff{
    border-right: 2px #135286 solid;
    position: absolute;
    height: inherit;
    left: 80%;
}

.progress-topnotcher{
    border-right: 2px #135286 solid;
    position: absolute;
    height: inherit;
    left: 98%;

}

footer{
    margin-top: 20px;
    height: 1em;
    min-height: 20px;
}

/* tabs-left */

/* custom inclusion of right, left and below tabs */

.tabs-left{
    .nav-tabs {
        border-bottom: 0;
        li{
            float: none;
        }
    }
} 

.tab-content{
    border-left: 1px solid #CCC;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}


.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    padding-right: 0;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}


.dashboard-scores-subject{
    background-color: #DDD;
    height: 61px;
    position: relative;
    text-shadow: 0px 1px #AAA;
    
    .score-stats{
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    }
    .subject{
        display: inline;
        line-height: 1em;
        margin-left: 1em;   
        vertical-align: middle;
    }
    img {
        margin:auto;
        padding-left: 1em;
        vertical-align: central;    

    }
    .score-overlay{
    position: absolute;
    height: 100%;
    @include gradient-vertical(lighten($ICPA-blue, 10%), $ICPA-blue);
        /*background-color: $ICPA-blue;*/
    z-index: 0;
}
}

.score{
    margin-right: 1em;
    a{
        display: block;
        color: darken($ICPA-orange, 10%);
}
}



.floater{
    float: left;
    height: 50%;
    margin-bottom: -60px;
}


.topic{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.subjectus{
    
    margin-left: 2em;
}

.badge-thingie{
    /*background-color: #ccc;*/
    box-sizing: border-box;
    border-radius: 0.2em;
    text-align: center;
    /*margin: 0em 0.2em 0 0.2em;*/
    padding: 0.5em;
}

.badge-title{
    font-size: 1.2em;
}

.badge-inside{
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 0.5em;
    background-color: #EEE;
}

.blurred{
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.no-topic{
    position: absolute;
    text-align: center;
    padding: 1em;
    background-color: white;
    border: 1px solid #ccc;
}

