@import "partials/mixins";
@import "partials/variables";

.index-sign-up-form{
    background-color: aliceblue;
    padding: 1em;
    position: relative;
    @include box-shadow(0 0 0 3px hsl(0, 0%, 80%),
    0 0 0 5px #3b8cce, 0 13px 10px -4px #777);

    z-index: 5;

    .index-sign-up-form-two-column{
        display: inline; width: 49%;
    }
    .heading{
        margin-top: 0.5em;
    }
}

.sign-in-form{
    margin-top: 0.2em;
}

.tag-tag{
    color: #FFF !important;
    text-shadow: 2px 2px #222;
}

.tagline{
    margin-top: 0.35em;
    text-shadow: 1px 1px #CCC;
}

.index-owly{
    height: 256px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: -30px;
}

.jumbotron{
    background-image: url('../images/background-half.jpg');
    background-size: cover;
    background-position: 0 -40px;
    background-repeat: no-repeat;
    margin-top: -27px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.jumbo-testimonials{
    color: $gray-lighter;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.testimonial{
    padding-top: 0.5em;
    padding-left: 1em;
    font: 24px $font-family-serif;
    color: $ICPA-blue;
}

.school{
    margin: 1em;
}

.school-text{
    line-height: 1.2em;
    margin-bottom: 0.7em;
}

.bottomer{
    display: none;
    @media screen and (max-width: 600px) {
        color: red;
    }
}

.below-the-fold{
    margin-top: 0;
}

.typo{
    line-height: 1.25em;
}

.modal-header{
    background-color: aliceblue;
}

.input-group{
    margin-bottom: 1em;
}
