<div class="tab-pane active" id="dashboard-scores">
  <div class="row">
    <div class="col-md-12">
      <% data.subjects.each_with_index do |subject, index| %>
        <div class="dashboard-scores-subject">
          <div class="score-overlay" id="score-<%= index+1 %>" data-score="<%= subject.score %>"></div>
          <div class="score-stats">
            <h3 class="subject"><%= subject.name  %>
              <span class="pull-right score tippable"
                    data-toggle="tooltip" 
                    title="Complete your profile to get the Completed badge!">
                <%= link_to  "#{subject.score}%", "#" %></span></h3>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>