<div class="tab-pane" id="leaderboard">
  <div class="row">
    <div class="col-md-8">
      <h3 class="icpa-box no-top text-center">Today's Highest</h3>  
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td><%= link_to  "Daryll Pogi", "#" %></td>
            <td><span class="label label-default">9999</span></td>
          </tr>
          <tr>
            <td>Phillip</td>
            <td><span class="label label-default">9998</span></td>
          </tr>
          <tr>
            <td>Bill Gates</td>
            <td><span class="label label-default">60</span></td>
          </tr>
          <tr>
            <td>Homies</td>
            <td><span class="label  label-default">500</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <h3 class="icpa-box no-top text-center">All-Time Top Scores</h3>  
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td><%= link_to  "Daryll Pogi", "#" %></td>
            <td><span class="label label-default">9999</span></td>
          </tr>
          <tr>
            <td>Phillip</td>
            <td><span class="label label-default">9998</span></td>
          </tr>
          <tr>
            <td>Bill Gates</td>
            <td><span class="label label-default">60</span></td>
          </tr>
          <tr>
            <td>Homies</td>
            <td><span class="label  label-default">500</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>