<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'iCPA', '/index.html', :class => 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', '/dashboard.html' %> </li>
      <li><%= link_to 'Resume', '/resume.html' %></li>
<li><%= link_to 'Quiz ', '/quiz.html' %> </li>
    </ul>

    <form class="form-inline navbar-right sign-in-form" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-success">Log In</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Log In</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Log In with Facebook</a></li>
          <li><a href="#">Forgot Password</a></li>
        </ul>
      </div>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>
