---
title: iCPA Your Accounting Study Buddy.
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Heading 1</h1>
      <p class="lead">Typeface: Proxima Nova. lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.Ï</p>
      <h2>Heading 2</h2>
      <p>Typeface: Proxima Nova. lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.Ï</p>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</5>
        <h6>Heading 6</h6>
    </div>

    <div class="col-md-6">
      <h1><a href="#">Links and Buttons</a></h1>
      <p>
        <button class="btn">Default </button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-danger">Danger</button>
      </p>
    </div>

    <div class="col-md-6">
      <h1>Alerts</h1>
      <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
          <i class="icon-remove"></i>
        </button>

        <p>
          <strong>
            <i class="icon-ok"></i>
            Well done!
          </strong>
          You successfully read this important alert message.
        </p>

        <p>
          <button class="btn btn-sm btn-success">Do This</button>
          <button class="btn btn-sm">Or This One</button>
        </p>
      </div>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">
          <i class="icon-remove"></i>
        </button>

        <strong>
          <i class="icon-remove"></i>
          Error!
        </strong>

        Change a few things up and try submitting again.
        <br>
      </div>
    </div>



  </div>



</div>